    <%- include('partials/log') %>
    <link rel="stylesheet" href="/styles/Login.css">

<body>
<div class="box">  
  <a href="/login">Back to Login</a>
  <h2>Forgot Your Password?</h2>
  <p>Please enter your email address to receive a password reset link.</p>

  <form action="send-reset-link.html" method="post">
    <label for="email">Email address:</label><br>
    <input type="email" id="email" name="email" required><br><br>

    <input type="submit" value="Send Reset Link">
  </form>

</div>

</body>
