    <%- include('partials/log') %>
    <link rel="stylesheet" href="/styles/header-css.css">
    <link rel="stylesheet" href="/styles/edit.css">
<form action="/register" method="post"> 
    <h1>Student Profile</h1>

    <figure>
        <h2>Student Picture</h2>
        <img  src="https://img.icons8.com/color/27/test-account.png" alt="student-image" class="stud-pic" />
        <input type="file" >
    </figure>
    <article>
        <h2>Personal Information</h2>
        
        <label for="stud-name"><b>Full Name:</b></label>
        <input type="text" id="stud-name" name="student_name" pattern="[a-zA-Z]" placeholder="Enter your Full Name" />
        
        <label for="father-name.name"><b>Father Name:</b></label>
        <input type="text" id="father-name" name="father_name" pattern="[a-zA-Z]" placeholder="Enter your Father Name" />
        
        <label for="roll-number"></label><b>Roll Number:</b>
        <input type="text" id="roll-number" name="roll_number" pattern="[0-9]" placeholder="Enter your Roll Number" />
        
        <label for="D.O.B"></label><b>Date Of Birth:</b>
        <small style="display: none">Format: DD-MM-YYYY </small>
        <input type="text" id="D.O.B" pattern="^(0[1-9]|[12][0-9]|3[01])-(0[1-9]|1[012])-\d{4}$" name="D_O_B"  value="" title="pattern : dd/mm/yyyy" placeholder="Enter your Date of Birth" />


        <label for="cnic"><b>CNIC / B-Form:</b></label>
         <small style="display: none;">Format: 12342-5678901-2 </small>
        <input type="text" id="cinc" pattern="[0-9]{5}-[0-9]{7}-[0-9]{1}" title="pattern : 12342-5678901-2" name="cnic"  placeholder="Enter your CNIC / B-Form" />
        
        <label for="phone"><b>Contact Number:</b></label>
        <small style="display: none;">Format:     1234-5678901 </small>
        <input type="text" id="phone" pattern="[0-9]{4}-[0-9]{7}" name="phone_number" title="pattern : 1234-5678901" placeholder="Enter your Phone Number" />
        
        <label for="email"><b>Email:</b></label>
        <input type="email" id="email" name="email"   placeholder="Enter your Email" />
        
        <label for="password"><b>Password </b></label>
        <input type="password" name="password" id="password" placeholder="Enter Password" required>

        <label for="course"><b>Course</b></label>
        <input type="text" name="course_1" id="course" pattern="[a-zA-Z]" required>
    </article>

    <article>
            <h2>Student Data</h2>
        <figure>
            <h3>Matric Marksheet</h3>
            <img src="" alt="matric-marksheet" />
            <input type="file">
        </figure>
        <figure>
            <h3>Intermediate Marksheet</h3>
            <img src="" alt="intermediate-marksheet" />
            <input type="file">
        </figure>
    </article>

    <input id="edit-form" type="submit" value="Submit" />
</form>
