
<header>
            <h1 class="head-titile">Student Portal</h1>
            
            <button onclick="menubar()" ><img src="https://img.icons8.com/3d-fluency/34/menu.png" alt="menu"></button>

                <nav  id="menu" >
                    <a href="/student/profile" class="menubar">View Profile</a> 
                    <a href="/signin" class="menubar">Logout</a> 
                </nav>

                <nav class="side-menu">
                  <a href="/student" >Home</a>
                  
                </nav>
        </header>
